.container {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.containerInfo {
  width: 50%;
}

.loginInput {
  border: none;
  outline: none;
  border-radius: 0.6rem;
  background-color: whitesmoke;
  width: 80%;
  font-size: 1em;
  text-transform: none;
  height: 54px;
}

.buttonContainer {
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 1rem;
  position: relative;
  transition: all 0.4s;
  width: 81%;
  margin-top: 1em;
}
